body{
    background-color: whitesmoke;
    width: 100%;
    font-family: Arial;
}
.innpakning{
    width: 100%;
    margin: auto;
}
.nav{
    height: 100px;
    padding: 40px;
    background-color: white;
}
.nav img{
    height: 100%;
}
.nav a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    float: right;
    padding: 20px;
    margin: 25px 20px 100px 0px;
}
.nav a:hover{
    background-color: whitesmoke;
    border-radius: 5px;
}
footer{
    background-color: lightgray;
    display: inline-block;
    width: 100%;
}
footer .contact{
    float: left; 
    margin: 30px 40px 40px 90px;
}
footer .help{
    float: right;
    margin: 30px 120px 40px 0px;
}